/* Importacion de Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/*Paleta de Colores*/
:root {
    --color-lavanda: #b5a8d9;
    --color-verde-menta: #8ce4cc;
    --color-celeste: #74d4e0;

    --color-primario: #ffffff;

    --color-neutro-blanco: #ffffff;
    --color-neutro-oscuro: #666666;
    --color-neutro-gris-claro: #e5e5e5;

    --color-texto-principal: #ffffff;
    --color-texto-secundario: #444444;

    --color-borde-claro: #f7f9fa;
    --color-sombra: rgba(0, 0, 0, 0.1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
html{
    scroll-behavior: smooth;
}
.body {
    width: 100%;
    height: 100%;
    background-color: var(--color-neutro-blanco);/**/
    color: var(--color-texto-secundario);/**/
}
/* Navbar Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 90px;
    overflow: visible;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px var(--color-sombra);
}
li, a, button {
    font-weight: 700;
    font-size: 20px;  
    cursor: pointer;
    text-decoration: none; 
}
.nav-toggle {
    display: none; 
}
.logo-link {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    margin-left: -20px;
}

.business-name {
    font-family: 'Caveat', cursive;
    font-size: 1.7em;
    font-weight: 700;
    color: var(--color-neutro-oscuro);
    margin-left: 10px;
    transition: color 0.3s;
}

.logo-link:hover .business-name {
    color: var(--color-lavanda);
}
.logo{
    height: 60px;
    width: auto;
    margin-left: -80px;
    object-fit: contain;
    cursor: pointer;
}
.nav-links {
    list-style: none;
    margin-left: 200px;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li:last-child a {
    font-family: "Caveat", cursive;
    color: var(--color-primario);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-size: 30px;
    background: none;
    padding: 5px 15px;
    margin-left: 145px;
}
.nav-links li:last-child a:hover {
    color: var(--color-texto-secundario);
    transform: translateY(-5px);
}
.nav-links li a {
    transition: all 0.3s ease 0s;
    color: var(--color-primario);
}
.nav-links li a:hover {
    color: var(--color-neutro-oscuro);
}
/* Footer */
.main-footer {
    background-color: #333333; 
    color: var(--color-texto-principal);
    padding: 50px 10% 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 30px;
}

.footer-section {
    width: 30%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h4 {
    color: var(--color-lavanda);
    font-size: 1.5em;
    margin-bottom: 20px;
}
.footer-navigation ul {
    list-style: none;
    padding: 0;
}

.footer-navigation a,
.footer-contact p {
    color: var(--color-texto-principal);
    text-decoration: none;
    font-size: 1em;
    line-height: 1.8;
    transition: color 0.3s;
}
.footer-contact img{
    width: 24px;
    height: 24px;
    transition: filter 0.3s;
}
.footer-navigation a:hover {
    color: var(--color-verde-menta); 
}
.contact-item,
.social-item{
    display: flex;
    align-items: center; 
    gap: 10px;          
    margin-bottom: 15px; 
    line-height: 1.5;
}
.contact-item img,
.social-item img {
    width: 24px;
    height: 24px;
}
.contact-item p,
.social-item p {
    color: var(--color-texto-principal);
    margin: 0;
    font-size: 1em;
}
.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9em;
    padding-top: 10px;
}
/* Section: Portafolio */
.portafolio-main-title {
    font-size: 4em;
    color: var(--color-neutro-blanco);
    font-weight: 700;
}

.portafolio-grid-section {
    padding: 40px 10%;
    background-color: var(--color-neutro-gris-claro);
    background: linear-gradient(135deg, var(--color-lavanda) 0%, var(--color-verde-menta) 100%);
    padding-top: 150px; /* Espacio para el Navbar fijo */
    padding-bottom: 50px;
    text-align: center;
}

.portafolio-grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* Cuadrícula base: 3 columnas, ajustando para diferentes tamaños */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--color-sombra);
    cursor: pointer;
    position: relative;
    padding-bottom: 100%;
    height: 0;
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease-in-out;
}

.grid-item:hover img {
    transform: scale(1.05);
}

.lightbox {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 100;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
    max-height: 90%;
}

.lightbox-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.lightbox-close:hover,
.lightbox-close:focus {
    color: var(--color-celeste);
}
/* Responsive */
@media (max-width: 768px) {

    header {
        padding: 15px 5%; 
        height: 70px; 
    }

    .logo {
        height: 50px; 
        margin-left: 20px;
    }

    .business-name {
        font-size: 1.5em; 
    }

    .nav-toggle {
        display: block; 
        background: none;
        border: none;
        color: var(--color-neutro-oscuro);
        font-size: 2em;
        cursor: pointer;
        z-index: 20;
        margin-left: 57%;

    }
    .nav-menu {
        display: block;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.3s ease;
        position: absolute;
        top: 70px; 
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 4px var(--color-sombra);
        z-index: 15;
        padding: 0;
        margin: 0;
    }
    .nav-menu.active {
        max-height: 300px;
        opacity: 1;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .nav-links li {
        display: block;
        padding: 0;
        margin: 0;
        border: none;
    }
    .nav-links li:last-child a{
        transition: none;
        padding: 10px 0px;
        color: var(--color-texto-secundario);
        margin: 0;
    }
    .nav-links li a {
        display: block; 
        padding: 15px 0px;
        color: var(--color-texto-secundario);
        background-color: transparent;
        transition: background-color 0.3s, color 0.3s;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-links li a:hover,
    .nav-links li a:active {
        background-color: var(--color-lavanda); 
        color: var(--color-neutro-blanco);
    }
    .nav-links li:last-child a:hover,
    .nav-links li:last-child a:active{
        border-radius: 0;
        display: block;
        margin: 0;
        padding: 10px 0px;
        transform: translateY(0);
        color: var(--color-texto-principal);
    } 
    /* 2. SECCIÓN PRINCIPAL */
    .main-title {
        font-size: 4em; 
    }

    .subtitle {
        font-size: 1.5em; 
    }

    /* 3. SECCIÓN DE SERVICIOS */
    .services-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    /* SECCIÓN DE PORTAFOLIO */
    .carousel-wrapper {
        padding: 0 20px; 
    }
    
    .carousel-btn-prev {
        left: 0px; 
        padding: 5px 10px;
        font-size: 1.5em;
    }
    .carousel-btn-next {
        right: 0px;
        padding: 5px 10px;
        font-size: 1.5em;
    }
    
    .portafolio-item {
        min-width: 280px; 
        height: 200px;
    }
    /* footer */
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        width: 100%;
        min-width: auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .contact-item,
    .social-item{
        justify-content: center;
    }
    /* Portafolio Grid */
    .portafolio-main-title {
        font-size: 2.5em; 
    }
    .portafolio-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
        gap: 10px; 
    }
    .grid-item {
        padding-bottom: 75%; 
    }
    
    /* Lightbox */
    .lightbox-content {
        width: 98%; 
        max-height: 90%;
    }
    .lightbox-close {
        top: 5px;
        right: 15px;
        font-size: 2.5em;
    }
}