<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Servicios</title>
    <link rel="stylesheet" href="/static/css/servicios.css">
    <link rel="icon" type="image/png" href="/static/img/logo.png">
</head>
<body>
    <header class="navbar">
        <img class="logo" src="/static/img/logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about_me.html">Más Información</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="portafolio.html">Portafolio</a></li>
            </ul>
        </nav>
        <a class="contact" href="#footer"><button class="btn-contact">Contacto</button></a>
    </header>
    <footer class="main-footer" id="footer">
        <div class="footer-content">
            <div class="footer-section footer-contact">
                <h4>Contacto</h4>
                <div class="contact-item"><img src="/static/img/icons/gmail-icon.svg" alt="Gmail">
                    <p>magicdreams@gmail.com</p></div>
                <p>📞 +591 60772748</p>
                <p>📍 Cochabamba, Bolivia</p>
            </div>
        
            <div class="footer-section footer-navigation">
                <h4>Navegación</h4>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="about_me.html">Más Información</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="portafolio.html">Portafolio</a></li>
                </ul>
            </div>
        
            <div class="footer-section footer-social">
                <h4>Sigueme</h4>
                <div class="social-list">
                    <div class="social-item">
                        <img src="/static/img/icons/instagram-icon.svg" alt="Instagram">
                        <p>@magicdreams</p>
                    </div>
                    <div class="social-item">
                        <img src="/static/img/icons/facebook-icon.svg" alt="Facebook">
                        <p>Magic & Dreams</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Magic & Dreams.</p>
        </div>
    </footer>   
</body>
</html>